language: generic 
sudo: required
services:
  - docker

  before_install:
    - docker build -t mullismichael/docker-react -f Dockerfile.dev .

  script:
    - docker run -e CI=true mullismichael/docker-react npm run test -- --coverage